a {
  text-decoration: none;
}

body {
  font: caption;
  font-size: 16px;
  background-color: #F9F9FB;
  margin: 0;
  padding: 0;
}

p {
  margin: 0.7rem 0;
}

button {
  background-color: #f3f3f3;
  margin-top: 1.4rem;
  padding: 2px 8px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
}

button:hover {
  background-color: #e8e8e8;
}

button:disabled {
  cursor: wait;
}

button.favorite {
  color: black;
}

button .favorite_icon {
  height: 0.75rem;
  width: 0.75rem;
}

button.favorite:disabled {
  background: #fff;
  border: 1px solid #ccc;
  color: #ccc;
}

button.unfavorite {
  color: #fd0000;
}

button.unfavorite:disabled {
  border: 1px solid #ffc0ad;
  color: #ff8c68;
}

.wrapper {
  padding: 2rem;
  max-width: 1440px;
  margin: auto;
  align-items: center;
  height: 100%;
}

nav {
  position: fixed;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.nav_home-link {
  display: flex;
  align-items: center;
  padding: 0 1.5rem;

}

.nav_logo {
  height: 30px;
  width: 30px;
}

.nav_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  list-style-type: none;
}

.nav_item {
  margin: 0 1.5rem;
}

.nav_link {
  color: black;
}

.nav_link:hover {
  color: #fd0000;
}

.header {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 82px;
  width: 82px;
}

.clock {
  margin-left: 1.3rem;
  font-size: 2rem;
}

.items {
  display: flex;
  justify-content: center;
}

.item {
  width: 6rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-size: 1.2rem;
}

.item_price {
  font-size: 1.5rem;
}

.item_favorite {
  background: #ffeaea;
}

.icon {
  margin-left: 0.5rem;
  height: 1.5rem;
  width: 1.5rem;
}

.error {
  box-sizing: border-box;
  margin-top: 1.5rem;
  padding: 0.75rem;
  border-radius: 6px;
  background: #ff5252;
  color: #fff;
}

@keyframes placeHolderShimmer{
  0%{
    background-position: -468px 0
  }
  100%{
    background-position: 468px 0
  }
}

.placeholder p {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
  background-size: 1400px 104px;
  position: relative;
}

.placeholder_large {
  width: 85%;
}

.placeholder_medium {
  width: 75%;
}

.placeholder_small {
  width: 50%;
}

.placeholder_xsmall {
  height: 2rem;
  width: 35%;
}



